<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
  <meta charset="utf8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>[[[page:title()]]]</title>
  <script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/jquery-ui.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/livevalidation.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/nitrogen.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/nitrogen/bert.min.js' type='text/javascript' charset='utf-8'></script>
  <link rel="stylesheet" href="/nitrogen/jquery-ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/nitrogen/nitrogen.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <style type="text/css">
    input[type=text], input[type=textarea] {
        background-color: #ffffff;
        border: 0px;
    }
    input[type=text].selected {
        background-color: #e0e0e0;
        border: 0px;
    }
    html, body {
        height: 100%;
        padding: 0;
        margin:  0;
        line-height: 1px;
    }
  </style>
</head>
<body>
[[[page:body()]]]
<script>
[[[script]]]
</script>
</body>
</html>
